{% extends 'base.html' %}
{% block content %}
 <style>
   form{
     margin-top: 10%;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:center;
   }
   span{
     margin:10px;
   }
 </style>

<form class="" action="{% url 'add' %}" method="post">
  <span>Title: <input type="text" name="title" value=""></span>
  <span>Name of the Author: <input type="text" name="author" value=""></span>
  <span>Date when you bought(Estimate): <input type="date" name="date" value=""></span>
  <span>Image of the book <input type="file" name="imageFile" value=""></span>
  <span>Price you want to sell at: <input type="text" name="" value=""></span>
    <input type="submit" name="submit" value="Create!" class="btn btn-primary">
</form>
{% endblock %}
